@import "../../styles/colors.module.css";

.container {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--textDark);
}


